{% extends 'base.html' %}
{% load staticfiles %}

{% block head_script %}
<script src="{% static "js/dollar.js" %}"}></script>
<script src="{% static "js/d3.min.js" %}"}></script>
<script>
    var canvas, ctx, tool, sketchRecognizer;
    var chartimage = new Image();

    var lastDraw = 0;
    var coord = [];
    var penStyle = "rgba(255, 0, 0, 0.01)";
    var penSize = 30;
    if(window.addEventListener) {
        window.addEventListener('load', InitEvent, false);
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    /*
       chartrecogAjax(type, footprint)
        type: string
        footpring: [Point['X', 'Y'], ...]
    */
    function chartrecogAjax(type, footprint) {
        var csrftoken = "{{ csrf_token }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var sendData = JSON.stringify({image_id : '{{ image.id }}', hinttype: type, coord: footprint, penSize: penSize});
        $.ajax({
            type: "POST",
            dataType: "json", // expected type of response data
            data: sendData,
            url: "{% url 'chartrecog' %}",
            success: function(json) {
                var plotarea_range = json['plotarea_range'];
                ctx.lineWidth=3;
                ctx.strokeStyle="black";

                ctx.beginPath();
                ctx.moveTo(plotarea_range['x'][0], plotarea_range['y'][0]);
                ctx.lineTo(plotarea_range['x'][0], plotarea_range['y'][1]);
                ctx.stroke();
                ctx.closePath();

                ctx.beginPath();
                ctx.moveTo(plotarea_range['x'][0], plotarea_range['y'][1]);
                ctx.lineTo(plotarea_range['x'][1], plotarea_range['y'][1]);
                ctx.stroke();
                ctx.closePath();
            },
            error: function(e) {
                console.log(e);
            },
        });
    }

    function dic_max(dic, key) {
        return Math.max.apply(null, dic.map(function(d){return d[key];}));
    }

    function dic_min(dic, key) {
        return Math.min.apply(null, dic.map(function(d){return d[key];}));
    }

    var sketchState = {
        sketch_start: function(ev) {
            ctx.lineWidth=penSize;
            ctx.lineJoin=ctx.lineCap = 'round';
            ctx.strokeStyle=penStyle;

            tool.started = true;
            coord.push(new Point(parseInt(ev._x), parseInt(ev._y)));
            ctx.beginPath();
            ctx.moveTo(ev._x, ev._y);
        },

        sketch_ing: function(ev) {
            if(tool.started)
            {
                var lp = coord[coord.length-1];
                if(Math.sqrt(Math.pow(lp['X']-ev._x, 2) + Math.pow(lp['Y']-ev._y, 2)) > 20) {
                    coord.push(new Point(parseInt(ev._x), parseInt(ev._y)));
                }

                ctx.lineTo(ev._x, ev._y);
                ctx.stroke();
            }
        },

        sketch_end: function(ev) {
            if(tool.started)
            {
                tool.started = false;                
                ctx.closePath();
                
                lastDraw = new Date().getTime();
                setTimeout(function(t) {
                    if(!tool.started) {
                        var recog_coord = $.extend(true, [], coord);
                        var sketchRecogResult = sketchRecognizer.Recognize(recog_coord, true);

                        $("#resultbox").append("<div>Type: "+sketchRecogResult['Name']+", "+sketchRecogResult['Score']+"</div>");

                        chartrecogAjax(sketchRecogResult['Name'], coord);

                        coord = [];
                    }
                }, 500);
            }
        },
    };



    function tool_pencil() {
        var tool = this;
        var values_x = [];
        var values_y = [];

        this.started = false;
        // mouse
        this.mousedown = sketchState.sketch_start;
        this.mousemove = sketchState.sketch_ing;
        this.mouseup = sketchState.sketch_end;

        // touch
        this.touchstart = sketchState.sketch_start;
        this.touchmove = sketchState.sketch_ing;
        this.touchend = sketchState.sketch_end;
        this.touchcancel = sketchState.sketch_end;
    }

    function ev_canvas(ev) {
        // firefox
        if (ev.layerX || ev.layerX == 0) {
            ev._x = ev.layerX;
            ev._y = ev.layerY;
        }
        // opera
        if (ev.offsetX || ev.offsetX == 0) {
            ev._x = ev.offsetX;
            ev._y = ev.offsetY;
        }
        var func = tool[ev.type];
        if(func) {
            func(ev);
        }
    }

    function InitEvent() {
        canvas = document.getElementById('drawCanvas');
        if(!canvas) {
            alert("could not find canvas object");
            return;
        }
        if(!canvas.getContext) {
            alert("could not find drawing ctx");
            return;
        }
        ctx = canvas.getContext('2d');
        if(!ctx) {
            alert("failed to call function 'getContext()");
            return;
        }

        chartimage.src = "{{ image.imgfile.url }}";
        chartimage.onload = function() {
            ctx.drawImage(chartimage, 0, 0);
        };

        tool = new tool_pencil();

        sketchRecognizer = new DollarRecognizer();
        
        // web
        canvas.addEventListener('mousedown', ev_canvas, false);
        canvas.addEventListener('mousemove', ev_canvas, false);
        canvas.addEventListener('mouseup', ev_canvas, false);

        // mobile
        canvas.addEventListener('touchstart', ev_canvas, false);
        canvas.addEventListener('touchmove', ev_canvas, false);
        canvas.addEventListener('touchend', ev_canvas, false);
        canvas.addEventListener('touchcancel', ev_canvas, false);
    }

    function clearCanvas() {
        $("#resultbox").html("");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(chartimage, 0, 0);
    }
</script>

{% endblock %}

{% block contents %}
    {% if image %}
        <canvas id="drawCanvas"
            width="{{ image.imgfile.width }}"
            height="{{ image.imgfile.height }}"
            style="border: 1px solid">
        </canvas>
        <input type="submit" value="clear" onclick="clearCanvas()" />
        <input type="submit" value="recog without sketch" onclick="chartrecogAjax('null', [])" />
        <div id="resultbox"></div>
        <div id="plotarea"></div>

    {% endif %}
{% endblock %}
